body{
    font-family: var(--mainfont);
}
.header{
    padding: 57px 0;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.list a{
    color: #0D0E43;
}
.bar{
    display: none;
}
.list .active{
    color: var(--primary);
}
.search form{
    border: 3px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}
.search input{
    border: none;
    outline: none;
    width: 250px;
    padding-left: 9px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
}
@media screen and (max-width:1200px) {
    .list,
    .header .search{
        display:none;
        }
    .bar{
        display: block;
    }
}

/*end header*/

/* start products */

.featured-products{
    padding: 50px 0;
}
.featured-products h2{
    margin-bottom: 30px;
    color: #1A0B5B;
}
.featured-products .row{
    justify-content: flex-start;
    gap: 15px;
}
.featured-products .product{
    flex-grow: 1;
    flex-basis: 300px;
    box-shadow: 0px 4px 4px #00000040;
}
.product .img{
    background-color: #F6F7FB;
    padding: 30px;
    border-radius: 5px;
}

.product img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.product-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
/* end products */


/* start newsettler */
.newsettler{
    background-image: url(./img/public/newsettlerimg.webp);
    padding: 175px 0px;
    text-align: center;
}
.newsettler h2{
    margin-bottom: 50px;
    color: #151875;
    font-size: 35px;
}
.shop_btn{
    transition: all 0.5s;
}
.shop_btn:hover{
    background-color: #0D0E43;

}
/* end newsettler */

/* start clients*/

.clients{
    padding: 50px 0px;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}
.clients .logo{
    width: calc((100% - 75px) / 6);
}
.clients img{
    width: 150px;
    height: 150px;
}
@media screen and (max-width:900px) {
    .clients .logo{
        width: calc((100% - 45px ) / 3);
    }
}

/*end clients*/

/*start footer*/
.footer{
    background-color: #EEEFFB;
    padding: 50px 0px;
}
.footer a,.address-info{
    color: #8A8FB9;
}
.footer .row{
    gap: 30px;
}
.footer .left-side{
    gap: 35px;
    align-items: flex-start;
    width: calc((100% - 30px) /2);
}

.footer .right-side{
    width: calc((100% - 30px) /2);
}

.footer .right-side .row{
    gap: 35px;
    align-items: flex-start;
}
.footer-item{
    gap: 45px;
    width: calc((100% - 70px) /3);
}

@media screen and (max-width:992px){
    .footer .left-side, .footer .right-side {
        width: 100%;
    }
}
@media screen and (max-width:576px) {
    .footer{
        text-align: center;
    }

    .footer-item{
        width: 100%;
    }
}

/*end footer*/