body{
    font-family: var(--mainfont);
}
.header{
    padding: 57px 0;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.list a{
    color: #0D0E43;
}
.bar{
    display: none;
}
.list .active{
    color: var(--primary);
}
.search form{
    border: 3px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}
.search input{
    border: none;
    outline: none;
    width: 250px;
    padding-left: 9px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
}
@media screen and (max-width:1200px) {
    .list,
    .header .search{
        display:none;
        }
    .bar{
        display: block;
    }
}

/*end header*/


/* start hero */
.hero{
    background-color: #F2F0FF;
    padding: 50px 0;
}

.hero-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 ;
    flex-direction: column;
    gap: 30px;
}



.hero_btn {
    width: 163px;
    height: 50px;
}

.grey-color{
    color: #8A8FB9;
}
.hero-content h1{
    font-size: 33px;
}
.hero .row{
    gap: 20px;
    align-items: center;
}
.hero-img img{
    width: 100%;
}
.hero-img{
    flex-basis: 500px;
}



/* end hero */

/* start products */

.featured-products{
    padding: 50px 0;
}
.featured-products h2{
    margin-bottom: 30px;
    color: #1A0B5B;
}
.featured-products .row{
    justify-content: flex-start;
    gap: 15px;
}
.product{
    position: relative;
}
 .icons{
    position: absolute;
    top: -70px;
    left: 20px;
    visibility: hidden;
    gap: 20px;
    cursor: pointer;
    
}
.product .icons img{
    width: 20px;
}
.product:hover .icons{
    visibility: visible;
}
.view-details{
    position: absolute;
    background-color: #08D15F;
    top: 230px;
    left: 150px;
    padding: 8px 13px;
    width: 94px;
    height: 29px;
    font-size: 12px;
   visibility: hidden;
   transition: all 0.6px;
}
.product:hover .view-details{
    visibility: visible;
}
.featured-products .product{
    flex-grow: 1;
    flex-basis: 300px;
    box-shadow: 0px 4px 4px #00000040;
}
.sales{
    position: absolute;
    top: -100px;
    left: -10px;
}
.sales img{
    width: 150px;
    height: 150px;
}
.product .img{
    background-color: #F6F7FB;
    padding: 30px;
    border-radius: 5px;
}

.product img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.product-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    transition: all 0.6s;

}
.product-info{
    transition: all .9s;
}

.product:hover .product-details{
    background-color: #2F1AC4;
    border-radius: 2px;
}
.product h3{
    transition: all .6s;
}
.product:hover .product-details h3{
    color: white;
}
.product:hover .color-three{
    background-color: #FFEAC1;
}
.product:hover .product-info{
    color: white;
}
.color{
    width: 20px;
    height: 6px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.color-one{
    background-color: #05E6B7;
}
.color-two{
    background-color: #F701A8;
}
.color-three{
    background-color: #00009D;
    transition: all .6s;

}
/* end products */

/* start leatest oroducts*/

.leatest-products h2{
    font-size: 42px;
    padding-top: 50px;
    color: #151875;
}
.leatest-products ul{
    padding: 40px 0;
    font-size: 18px;
    color: #151875;
}
.options-list li:hover{
    
    color: red;
    text-decoration: underline;
}

.card-img{
    background-color: #F7F7F7;
    padding: 35px 75px;
    object-fit: fill;

}
.card-footer{
    font-size: 12px;
    color: #151875;
    padding: 20px 10px;
}
.cards:hover .icons{
    visibility: visible;
}
.cards{
    
    gap: 50px;
    flex-wrap:wrap ;
    padding: 50px 0;

}


.card-img img{
    height: 320px;
    object-fit: contain;

}
.card{
    
    position: relative;
    width: calc((100% - 100px) / 3);
    

}

 .icons-card{
    position: absolute;
    bottom: 70px;
    left: 20px;
    gap: 20px;
    cursor: pointer;
    visibility: hidden;
    
}
.original-price{
    color: red;
    text-decoration: line-through;
}


.card:hover .icons-card{
    visibility: visible;
}

@media screen and (max-width:1500px) {
    .cards .card{
        width: calc((100% - 50px ) / 2);
    }
}
@media screen and (max-width:900px) {
    .cards .card{
        width: 100%;
    }
}

/* end leatest oroducts*/

/* start shpex*/
.title{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 42px;
    color: #151875;
}
.four-cards {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px; 
  flex-wrap: wrap; 
  padding: 50px 0;
}

.cardd {
  max-width: 220px;
  padding: 20px;
}

.cardd img {
  height: 50px;
}
.cardd h3{
    font-size: 22px;
    color: #151875;
    padding: 10px;
}

.paragraph p {
  color: #999;
  font-size: 16px;
}

/*end shopex*/


/* trendy products start*/
.TrendingProducts h2{
    text-align: center;
    font-size: 42px;
    color: #151875;
    padding: 50px 0;
}
.TrendingProducts{
    padding: 50px;


}
.TrendingProducts .row{
    justify-content: flex-start;
    gap: 15px;
}
.TrendingProducts .trendy-product{
    width: calc((100% - 45px) / 4);
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: content;
    box-shadow: 0px 0px 8px #00000040;
        
}

.trendy-img{
    background-color: #F5F6F8;
    text-align: center;
}
.trendy-img img{
    height: 200px;
}
.trendy-text{
    text-align: center;
    padding: 20px;
}
.trendy-prices{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.trendy-text h3{
    font-size: 16;
    color: #151875;
}
.old-price{
    color: grey;
    text-decoration: line-through;
}
.new-price{
    color: #151875;
    
}
/* trendy products end*/


/*start top catagories*/
.top-catagories h2{
    text-align: center;
    font-size: 42px;
    color: #151875;
    padding: 30px 0;
}
.img-wrapper{
    position: relative;
    width: 450px;
    height: 450px;
    margin: 20px auto;
    text-align: center;

}

.top-img{
    position: absolute;
    padding: auto;
    
}
.top-img .main-img{
    position: absolute;
    z-index: 3;
    left: 90px;
    top: 70px;
}
.top-img .bg-img{
    z-index: 2;
    position: absolute;
}
.top-img .bg-shadow{
    z-index: 1;
    position: absolute;
    left: -10px;
    top: 7px;
    visibility: hidden;
    
}
.top-text{
    position: absolute;
    z-index: 1;
    top: 350px;
    left: 100px;
    color: #151875;
}
.top-text h3{
    font-size: 20px;
    padding: 10px 0;
}
.top-btn{
    background-color: #08D15F;
    position: absolute;
    z-index: 4;
    top: 250px;
    left: 120px;
    border: none;
    outline: border;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 2px;
    visibility: hidden;
}
.img-wrapper:hover{
    .bg-shadow,
    .top-btn{
        visibility: visible;
    }
}



/* end top catagories*/

/* start leatest blog*/

.Leatest-Blog h2{
    text-align: center;
    font-size:42px ;
    color:#151875 ;
    padding: 50px 0;
}

.Leatest-Blog{
    padding: 50px;
    

}
.Leatest-Blog .row{
    justify-content: flex-start;
}
.Leatest-Blog .blog{
    width: 70px;
    flex-grow: 1;
    flex-shrink: 0;    

}

.blog-names{
    display: flex;
    gap: 20px;
    padding: 10px 0;
}


.blog-info h3{
    font-size: 22px;
    color: #151875;
    padding: 15px 0;
}
.blog-info p{
    width: 370px;
    padding: 15px 0;
    color: #72718F;
}
.read-more{
    text-decoration: underline;
    color: #151875;
}

.blog:hover{
    
    .read-more,
    .blog-info h3{
        color: #FB2E86;
    }
}

/* end leatest blog*/


/* start newsettler */
.newsettler{
    background-image: url(./img/public/newsettlerimg.webp);
    padding: 175px 0px;
    text-align: center;
}
.newsettler h2{
    margin-bottom: 50px;
    color: #151875;
    font-size: 35px;
}
.shop_btn{
    transition: all 0.5s;
}
.shop_btn:hover{
    background-color: #0D0E43;

}
/* end newsettler */

/* start clients*/

.clients{
    padding: 50px 0px;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}
.clients .logo{
    width: calc((100% - 75px) / 6);
}
.clients img{
    width: 150px;
    height: 150px;
}
@media screen and (max-width:900px) {
    .clients .logo{
        width: calc((100% - 45px ) / 3);
    }
}

/*end clients*/

/*start footer*/
.footer{
    background-color: #EEEFFB;
    padding: 50px 0px;
}
.footer a,.address-info{
    color: #8A8FB9;
}
.footer .row{
    gap: 30px;
}
.footer .left-side{
    gap: 35px;
    align-items: flex-start;
    width: calc((100% - 30px) /2);
}

.footer .right-side{
    width: calc((100% - 30px) /2);
}

.footer .right-side .row{
    gap: 35px;
    align-items: flex-start;
}
.footer-item{
    gap: 45px;
    width: calc((100% - 70px) /3);
}

@media screen and (max-width:992px){
    .footer .left-side, .footer .right-side {
        width: 100%;
    }
}
@media screen and (max-width:576px) {
    .footer{
        text-align: center;
    }

    .footer-item{
        width: 100%;
    }
}

/*end footer*/